.footer{
    background-color: var(--preto);
    color: var(--branco);
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 70vh;
}